.btn {
    display: block;
    text-decoration: none;
    padding: .5em 1.5em;
    min-width: 10vw;
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    &:active, &:visited, &:focus {
        color: white;
    }
    &--primary {
        background-color: $brand-primary;
        &:hover {
            background-color: $white;
            color: $brand-primary;
        }
    }
    &--secondary {
        background-color: $brand-accent;
        &:hover {
            background-color: $white;
            color: $brand-accent;
        }
    }
}
