.the-content {
    h3 {
        color: $brand-primary;
        text-transform: uppercase;
    }
    em {
        font-style: normal;
        color: $brand-primary;
    }
    a {
        font-weight: bold;
        color: $brand-primary;
    }
}
