.search-row {
    position: relative;
    padding-top: 2em;
    padding-bottom: 10vw;
    text-align: right;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    .search {
        display: flex;
        justify-content: flex-end;
        input {
            display: block;
            border-radius: 0;
            font-size: 1rem;
        }
        &__input {
            color: $brand-primary;
            padding-left: 1em;
            border: 2px solid $white;
        }
        &__submit {
            border-top: 2px solid $white;
            border-right: 2px solid $white;
            border-bottom: 2px solid $white;
            line-height: 1.5;
            background-color: $brand-primary;
            color: $white;
        }
    }
}


