.socials-bar {
    background-color: $color-dark-grey;
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
}

.social {
    text-decoration: none;
    display: block;
    padding: 1rem 0;
    margin: 0 1rem;
    svg {
        height: 30px;
        width: 30px;
        fill: $color-lighter-grey;
        transition: fill .5s;
    }
    &:hover {
        svg {
            fill: $white;
        }
    }
}