.lead-text {
    color: $grey;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
}

.content-area-wrapper {
    background-color: $brand-primary;
    color: $white;
    padding: 2em 1em;
    h2 {
        font-size: 1.33rem;
    }
    a {
        color: $white;
        font-weight: 600;
    }
}

.pricing-wrapper {
    .duplex-content-row {
        align-items: center;
    }
}

.pricing-title {
    color: $font-grey;
    padding: 1.5rem;
    h2 {
        margin-bottom: 0;
    }
}
.pricing-content {
    background-color: $brand-primary;
    color: $white;
    font-weight: 600;
    p {
        text-align: justify;
    }
}
